/**
 * Main container sections including Experience and Education
 */
.mainItem:not(:last-child) {
  margin-bottom: 10px;
}

.mainDetailName {
  color: $emphasis;
  font-family: 'LibraSansBold', serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.5px;
}

.mainDetails {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.mainDetailHeader {
  display: flex;
  flex-direction: row;
}

.detailLocationAnchor {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  text-decoration: $underlineStyling;

  &:hover {
    .mainDetailText {
      color: $gray;
      text-decoration-color: $gray;
    }
  }
}

.mainDetailIcon {
  svg {
    fill: $gray;
  }
}

.mainDetailText {
  color: $black;
  font-size: .75em;
  margin-left: 4px;
}

.mainDetailContent{
  ul {
    padding-left: 0px;
    list-style: none;
  }

  li {
    padding-left: 1em;
    position: relative;
  }

  li:before {
    content: "•";
    position: absolute;
    left: 0;
    font-size: 1.5em;
    line-height: 0.9em;
  }
}

// @media (min-width:768px) {}

@media print {
  .mainDetailName {
    color: $black;
  }

  .detailLocationAnchor {
    text-decoration: none;
  }

  .mainDetailIcon {
    svg {
      fill: $black;
    }
  }

  .detailLocationAnchor {
    text-decoration: none;
  }
}

@media print {
  .experienceDetailContent li:last-child {
    display: none;
  }
}