.skillList {
  margin-left: 5px;
  padding-left: 0;
}

.skillItem {
  font-weight: 600;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.skillItemAnchor {
  color: $black;
  text-decoration: $underlineStyling;

  &:hover {
    color: $gray;
    text-decoration-color: $gray;
  }
}

@media print {
  .skillItemAnchor {
    text-decoration: none;
  }
}