<ul id="actions">
  <li id="download" class="action">
    <a id="downloadLink" class="actionBtn" href="pdf/resume.pdf">
      {% include 'icons/icon-download.njk' %}
    </a>
  </li>
  <li class="action">
    <button id="printBtn" class="actionBtn" onClick="window.print()">
      {% include 'icons/icon-print.njk' %}
    </button>
  </li>
</ul>